@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat&family=Roboto&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: #595b8398;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 90%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-self: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.row {
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

[class*="col-"] {
    width: 100%;
}
/*  */
/*  */
/*  */
/*  */
/*  */

/* form-section */
.logo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.logo:hover {
    box-shadow: 0px 0px 10px 2px #fff;
}

form {
    text-align: center;
    padding: 5%;
    background-image: url("../images/login.jpg");
    border-radius: 10px;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

form > div {
    max-width: 90%;
}

.form-login {
    margin: 10%;
}

input {
    margin: 5%;
    padding: 15px 0;
    width: 85%;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    text-indent: 5%;
    box-shadow: inset 0px 0px 30px 10px #fff;
    font-weight: bolder;
    border-radius: 10px;
}

button {
    padding: 7% 12%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: transparent;
    box-shadow: inset 0px 0px 20px 10px #fff;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin: 15px 0 0 0;
}

input::placeholder {
    color: royalblue;
    text-indent: 5%;
    color: rgb(0, 0, 0);
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* media-queries */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* form-section */
    form {
        height: 475px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    /*  */
    /*  */
    /*  */
    /*  */
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* form-section */
    form {
        height: 575px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    /*  */
    /*  */
    /*  */
    /*  */

    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}
