@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat&family=Roboto&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #595b83;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    height: 100vh;
    background: rgb(143, 121, 121);
    border-radius: 20px;
    background: #7a7daa;
}

.row {
    width: 100%;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

[class*="col-"] {
    width: 100%;
}
/*  */
/*  */
/*  */
/*  */
/*  */

/* form-section */

form {
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    width: 270px;
    height: 395px;
    margin: 100px auto;
    background-image: url("../images/login.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px #39383a;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
}

.logo:hover {
    box-shadow: 0px 0px 10px 2px #fff;
}

input {
    box-sizing: border-box;
    margin: 10px;
    padding: 15px 0;
    width: 220px;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    text-indent: 10px;
    box-shadow: inset 0px 0px 30px 10px #fff;
    font-weight: 600;
    border-radius: 10px;
}

input:focus {
    box-shadow: inset 0px 0px 30px 20px #fff;
}

input::placeholder {
    text-indent: 10px;
    color: black;
    font-size: medium;
}

button {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: transparent;
    box-shadow: inset 0px 0px 20px 10px #fff;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin: 15px 0 0 0;
}

button:hover {
    box-shadow: inset 0px 0px 20px 10px rgb(109, 124, 209);
    color: white;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* media-queries */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    /* form-section */
    form {
        width: 300px;
        height: 390px;
        margin: 100px auto;
    }

    input {
        width: 250px;
    }
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */

    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* form-section */
    form {
        width: 350px;
        height: 450px;
        margin: 70px auto;
    }

    input {
        width: 280px;
    }
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */

    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* form-section */
    form {
        width: 400px;
        height: 495px;
        margin: 50px auto;
    }

    input {
        width: 320px;
    }
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */

    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}
